MONGO_USER=admin
MONGO_PASSWORD=change-me
MONGO_DB=kaba_compta
LANDING_DOMAIN_URL=kaba-compta.example.com
DOMAIN_API=api-kaba-compta.example.com
DB_MANAGER_URL=db-kaba-compta.example.com
NEXT_PUBLIC_API_URL=https://api-kaba-compta.example.com
REACT_APP_BACKEND_URL=https://api-kaba-compta.example.com
