# Database Credentials
MONGO_USER=admin
MONGO_PASSWORD=adminpassword
MONGO_DB=fazgom

# Traefik Domains (local by default, change for prod)
DOMAIN_API=api.fazgom.localhost
LANDING_DOMAIN_URL=fazgom.localhost
DB_MANAGER_URL=db.fazgom.localhost
