MONGO_USER=admin
MONGO_PASSWORD=MUYfw2fzNDgozPTtzcYx
MONGO_DB=kaba_compta
DOMAIN_API=api-kaba-compta.it-sefako.duckdns.org
LANDING_DOMAIN_URL=kaba-compta.it-sefako.duckdns.org
DB_MANAGER_URL=db-kaba-compta.it-sefako.duckdns.org