# Database configuration
MONGO_URL=mongodb://<MONGO_USER>:<MONGO_PASSWORD>@mongodb:27017/fazgom?authSource=admin
DB_NAME=fazgom

# Security / Auth
JWT_SECRET=your_jwt_secret_key_here
JWT_ALGORITHM=HS256

# KYC Decryption key (32 bytes key base64-encoded)
# Example: YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXoxMjM0NTY=
KYC_ENCRYPTION_KEY_B64=your_base64_encoded_32_bytes_key_here

# Admin User Seed (Optional)
ADMIN_PHONE=+22890000000
ADMIN_PASSWORD=admin1234

# Docker Compose Configuration
MONGO_USER=admin
MONGO_PASSWORD=adminpassword
MONGO_DB=fazgom
DOMAIN_API=api-kaba-compta.it-sefako.duckdns.org
LANDING_DOMAIN_URL=kaba-compta.it-sefako.duckdns.org
DB_MANAGER_URL=db-kaba-compta.it-sefako.duckdns.org
