MONGO_URL=mongodb://admin:MUYfw2fzNDgozPTtzcYx@fazgom_db:27017/kaba_compta?authSource=admin
DB_NAME=kaba_compta
JWT_SECRET=f48b8ca70295191c953503bb4b8782a2b4bfa293c66f5a34e0a4d5b281f661df
JWT_ALGORITHM=HS256
KYC_ENCRYPTION_KEY_B64=YWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXoxMjM0NTY=
ADMIN_PHONE=+22890787599
ADMIN_PASSWORD=geonidas
MONGO_USER=admin
MONGO_PASSWORD=MUYfw2fzNDgozPTtzcYx
MONGO_DB=kaba_compta
DOMAIN_API=api-kaba-compta.it-sefako.com
LANDING_DOMAIN_URL=kaba-compta.it-sefako.com
DB_MANAGER_URL=db-kaba-compta.it-sefako.com
